<!doctype html>
<html lang="en-us">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>UI Functionality Challenge</title>
    <meta name="description" content="UI Functionality Challenge" />
    <meta name="author" content="John Heroy" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base target="_blank" />

    <!-- CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" />

  </head>
  <body ng-app="myApp">

    <div ng-controller="ChartsController" class="container-fluid">
      <h1>UI Functionality Challenge</h1>
      <div class="row">
        <div class="col-md-12 line-chart">
          <h2 class="pull-left">Activity</h2>
          <ul class="nav nav-pills pull-right period-select">
            <li role="presentation" ng-class="{active: currentPeriod === 'today'}" ng-click="setCurrentPeriod('today')"><a>Today</a></li>
            <li role="presentation" ng-class="{active: currentPeriod === '3 days'}" ng-click="setCurrentPeriod('3 days')"><a>3 Days</a></li>
            <li role="presentation" ng-class="{active: currentPeriod === '7 days'}" ng-click="setCurrentPeriod('7 days')"><a>7 Days</a></li>
            <li role="presentation" ng-class="{active: currentPeriod === '14 days'}" ng-click="setCurrentPeriod('14 days')"><a>14 Days</a></li>
          </ul>
          <canvas tc-chartjs chart-type="line" chart-data="activityData" chart-options="activityOptions" width="700" height="180">
          </canvas>
          <ul class="pull-right">
            <li class="btn btn-success">Mean Line</li>
            <li class="btn btn-success">Trend Line</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Segments</h2>
          <table class="table">
            <tbody>
              <tr class="total-row">
                <td>All</td>
                <td>2,000</td>
              </tr>
              <tr>
                <td>Male</td>
                <td>1,500</td>
              </tr>
              <tr>
                <td>Female</td>
                <td>500</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h2>Devices</h2>
          <canvas tc-chartjs chart-type="pie" chart-data="myData" chart-options="myOptions" width="300" height="100"></canvas>
        </div>
      </div>
    </div>


    <!-- JS -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/tc-angular-chartjs/dist/tc-angular-chartjs.js"></script>
    <script src="src/config.js"></script>
    <script src="src/app.js"></script>
    <script src="src/dataservice.js"></script>

  </body>
</html>
