<!doctype html>
<html lang="en-us">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>UI Functionality Challenge</title>
    <meta name="description" content="UI Functionality Challenge" />
    <meta name="author" content="John Heroy" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base target="_blank" />

    <!-- CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" />

  </head>
  <body ng-app="myApp">

    <div ng-controller="ChartsController" class="container-fluid">
      <h1>UI Functionality Challenge</h1>
      <div class="row">
        <div class="col-md-12 line-chart">
          <h2 class="pull-left">Activity</h2>
          <ul class="nav nav-pills pull-right period-select">
            <li role="presentation" ng-class="{active: currentPeriod === 'today'}"
              ng-click="setCurrentPeriod('today')"><a>Today</a></li>
            <li role="presentation" ng-class="{active: currentPeriod === '3 days'}"
              ng-click="setCurrentPeriod('3 days')"><a>3 Days</a></li>
            <li role="presentation" ng-class="{active: currentPeriod === '7 days'}"
              ng-click="setCurrentPeriod('7 days')"><a>7 Days</a></li>
            <li role="presentation" ng-class="{active: currentPeriod === '14 days'}"
              ng-click="setCurrentPeriod('14 days')"><a>14 Days</a></li>
          </ul>
          <canvas tc-chartjs chart-type="line" chart-data="lineChartData"
            chart-options="lineChartOptions" width="700" height="200">
          </canvas>
          <p class="pull-left">
            <em>Note: currently filtering by segment: <strong>{{ segment }}</strong> and period: <strong>{{ currentPeriod }}</strong></em>
          </p>
          <ul class="pull-right">
            <li class="btn btn-success mean-line-btn" ng-click="toggleMeanLine()"
              ng-class="{meanLineActive: meanLineShown }">Mean Line</li>
            <li class="btn btn-success trend-line-btn" ng-click="toggleTrendLine()"
              ng-class="{trendLineActive: trendLineShown}">Trend Line</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Segments</h2>
          <table class="table">
            <tbody>
              <tr ng-class="{ selectedSegment: segment === 'all' }">
                <td ng-click="setSegment('all')"><a>All</a></td>
                <td>{{ segmentNumbers.male + segmentNumbers.female }}</td>
              </tr>
              <tr ng-class="{ selectedSegment: segment === 'male' }">
                <td ng-click="setSegment('male')"><a>Male</a></td>
                <td>{{ segmentNumbers.male }}</td>
              </tr>
              <tr ng-class="{ selectedSegment: segment === 'female' }">
                <td ng-click="setSegment('female')"><a>Female</a></td>
                <td>{{ segmentNumbers.female }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h2>Devices</h2>
          <ul class="pie-legend">
            <li>
              <span style="background-color: #F7464A"></span> Desktop
            </li>
            <li>
              <span style="background-color: #46BFBD"></span> Mobile
            </li>
            <li>
              <span style="background-color: #FDB45C"></span> Tablet
            </li>
          </ul>
          <div class="pie-chart-container">
            <canvas tc-chartjs chart-type="pie" chart-data="pieChartData"
              chart-options="pieChartOptions" width="360" height="150">
            </canvas>
          </div>
        </div>
      </div>
    </div>


    <!-- JS -->
    <script src="bower_components/momentjs/min/moment.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/Chart.js/Chart.min.js"></script>
    <script src="bower_components/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script>
    <script src="bower_components/regression-js/build/regression.min.js"></script>
    <script src="src/config.js"></script>
    <script src="src/app.js"></script>
    <script src="src/dataservice.js"></script>
    <script src="src/dataparser.js"></script>

  </body>
</html>
