body {
  background-color: #f1f2f3;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 100;
}

li {
  cursor: pointer;
  font-weight: 200;
}

.nav-pills > li > a {
  border-radius: 5px;
}

.btn {
  font-weight: 200;
  border: none;
}

.line-chart {
  max-width: 97vw;
  min-height: 20vw;
}

.period-select {
  margin-top: 20px;
}

.selectedSegment {
  font-size: 16px;
}

/* mean line */

.mean-line-btn {
  background-color: #4469EC;
}

.mean-line-btn:hover {
  background-color: #3255D1;
}

.meanLineActive {
  background-color: #3255D1;
}

.meanLineActive:hover {
  background-color: #4469EC;
}

/* trend line */

.trend-line-btn {
  background-color: #44AF3C;
}

.trend-line-btn:hover {
  background-color: #34942C;
}

.trendLineActive {
  background-color: #34942C;
}

.trendLineActive:hover {
  background-color: #44AF3C;
}
