body {
  background-color: #f1f2f3;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 100;
}

li {
  cursor: pointer;
  font-weight: 200;
}

.nav-pills > li > a {
  border-radius: 5px;
}

.btn {
  font-weight: 200;
  border: none;
}

.line-chart {
  max-width: 97vw;
  min-height: 26vw;
}

.period-select {
  margin-top: 20px;
}

.selectedSegment {
  font-size: 16px;
}
